<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EPEXA - Production quality Ecosystem for Programming and Executing eXtreme-scale Applications">
    <title>{{ page.title }} - TESSE Organization</title>
  	<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
  <body>
   	<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/ttg/">TTG Documentation</a></li>
        		<li><a href="/epexa/">EPEXA Project</a></li>
    		</ul>
		</nav>
		<nav>
    		<ul>
        		<li><a href="/epexa/#community">Our Community</a></li>
        		<li><a href="/epexa/#ecosystem">EPEXA Ecosystem</a></li>
        		<li><a href="/epexa/#funding">Funding</a></li>
    		</ul>
		</nav>
		<div class="container">
			<div class="blurb">
				<h1>{{ page.title }}</h1>
			</div>
			{{ content }}
		</div>
	</body>
</html>
